.city-current {
    height:45px;
    background:#f8f8f8;
    padding:0px 10px;
    font-size:16px;
    line-height:45px;
    color:#000;
    
    .loc {
        float:left;
        background:url(http://img04.taobaocdn.com/tps/i4/T1PaRPFmBaXXaawQLa-22-26.png) center center no-repeat;
        width:11px;
        margin-right:8px;
        margin-top:15px;
        height:13px;
        background-size:100% 100%;
    }
    
    .location {
        float:left;
    }
    
    .tick {
        float:right;
        background:url(http://img01.taobaocdn.com/tps/i1/T1LRNOFlpaXXXBbLLb-24-25.png) center center no-repeat;
        width:12px;
        height:12.5px;
        background-size:100% 100%;
        margin-top:15px;
        margin-right:50px;
    }
}

.u-tit {
    height:30px;
    line-height:30px;
    font-size:14px;
    background:#eee;
    color:#999;
    padding:0px 10px;
    border-bottom:1px solid #dedede;
} 

.u-city-list {
    
    font-size:16px;
    
    ul {
        overflow:hidden;
    }
    
    li {
        line-height:45px;
        height:45px;
        color:#000;
        list-style-type:none;
        border-bottom:1px solid #dedede;
        
        a {
            text-decoration:none;
            padding-left:30px;         
            color:#000;
        }
    }
}

.city-hot {

}